In [10]:
import pandas as pd
import joblib

In [11]:
# Exemple lecture CSV
df = pd.read_csv("billets_test.csv", index_col='id')
df

     diagonal  height_left  height_right  margin_low  margin_up  length
id
B_1    172.09       103.95        103.73        4.39       3.09  113.19
B_2    171.52       104.17        104.03        5.27       3.16  111.82
B_3    171.78       103.80        103.75        3.81       3.24  113.39
B_4    172.02       104.08        103.99        5.57       3.30  111.10
B_5    171.79       104.34        104.37        5.00       3.07  111.87

In [12]:
scaler = joblib.load('scaler.pkl')

vérifier nom des colonnes, valeurs nulles

In [13]:
df_scaled = pd.DataFrame(scaler.transform(df), index = df.index, columns=df.columns)
df_scaled

     diagonal  height_left  height_right  margin_low  margin_up    length
id
B_1  0.394165    -0.302367     -0.599977   -0.157289  -0.256289  0.597494
B_2 -1.511646     0.436023      0.340863    1.211252   0.049626 -0.976874
B_3 -0.642329    -0.805815     -0.537254   -1.059281   0.399244  0.827329
B_4  0.160118     0.133954      0.215417    1.677800   0.661457 -1.804280
B_5 -0.608894     1.006597      1.407148    0.791359  -0.343693 -0.919416

In [14]:
#On charge le modèle
modele = joblib.load("prediction_billet.pkl")

In [15]:
predictions = modele.predict(df)
proba_is_genuine = modele.predict_proba(df)[:, 1] # on ne veut que le probabilité que le billet soit vrai

df['is_genuine'] = predictions
df['proba_is_genuine'] = proba_is_genuine

In [16]:
proba

array([9.98220855e-01, 7.62091001e-04, 9.99941541e-01, 1.20074361e-06,
       1.47815809e-03])

In [17]:
df

,diagonal,height_left,height_right,margin_low,margin_up,length,is_genuine,proba_is_genuine
id,,,,,,,,
B_1,172.09,103.95,103.73,4.39,3.09,113.19,1,0.998221
B_2,171.52,104.17,104.03,5.27,3.16,111.82,0,0.000762
B_3,171.78,103.80,103.75,3.81,3.24,113.39,1,0.999942
B_4,172.02,104.08,103.99,5.57,3.30,111.10,0,0.000001
B_5,171.79,104.34,104.37,5.00,3.07,111.87,0,0.001478

In [9]:
import os
print(os.getcwd())

C:\Users\Pauline NANDELEC\OCR\P10\P10

In [ ]:
# app_streamlit.py
import streamlit as st
import pandas as pd
import joblib

st.title("Prédiction de l'authenticité des billets")

fichier = st.file_uploader("Charger un fichier CSV", type=["csv"])
if fichier is not None:
    df = pd.read_csv(fichier)
    # charger modèle
    modele = joblib.load("prediction_billet.pkl")
    predictions = modele.predict(df)
    proba_is_genuine = modele.predict_proba(df)[:, 1] # on ne veut que le probabilité que le billet soit vrai

    df['is_genuine'] = predictions
    df['proba_is_genuine'] = proba_is_genuine
    st.write(df)